$c-primary:   #3A4D2C;  // Темніший, спокійний зелений – відмінно для тексту
$c-secondary: #464c3d;  // М’який теплий салатовий – як акцент або тінь
$c-icons:     #CBB88A;  // Залишається – пастельний пісочний для іконок
$c-elements:  #D6E8C1;  // Дуже світло-зелений – фон для карток, блоків
$c-hover-bg:  #FFE8F0;  // Дуже ніжний рожевий, не сліпить очі при hover
$c-green:     #6CBF84;  // Природний, соковитий, але не занадто яскравий
$c-red:       #D4797B;  // Спокійний теракотовий – м’який, але помітний
$c-bg:        #FAF6F0;  // Дуже світлий беж – основний фон для контрасту // Теплий пастельний фон
$mobile-screen: 420px;
$tablet-screen: 640px;
$desktop-screen-s: 1199px;
$desktop-screen-l: 1600px;
$desktop-screen-xl: 2560px;